.main_contents
  .main_contents__left
    - if @area.errors.any?
      %p.error_alert 未入力の項目があります
    .post-show__title 釣り場投稿
    .area_input_form
      = form_for @area do |f|
        .pref-choice-form
          .pref-choice-form__left
            = f.label :prefecture,"都道府県" 
            = f.hidden_field :prefecture_id,value: "#{@area.prefecture.id}"
            = text_field :prefecture,:area, value: "#{@area.prefecture.name}",disabled: "disabled"
        .city-choice-form
          .city-choice-form__left
            = f.label :city ,"市区町村"
            = f.hidden_field :city_id,value: "#{@area.city.id}"
            = text_field :city,:area,value: "#{@area.city.name}",disabled: "disabled"
        .new-area-input-form
          .new-area-input-form
            = f.label :name, "釣場の名称"
            = f.text_field :name, placeholder: "釣場を入力してください。例：○○漁港、△△磯…"
        .infomation-select-form
          .infomation-select-form__toilet
            = f.label :toilet,"トイレ（有無を選択してください）"
            = f.select :toilet,[["不明",nil],["あり",true],["なし",false]]
          .infomation-select-form__car
            = f.label :car,"駐車場（有無を選択してください）"
            = f.select :car,[["不明",nil],["あり",true],["なし",false]]
        = f.submit "投稿する！",class: "btn"
  .main_contents__right
    = render partial: 'posts/new_posts',locals: {posts: @new_posts, message: "最新"}