.main_contents
  .main_contents__left
    .post_input_form
      = form_for @post do |f|
        .title-input-form
          .title-input-form__left
            = f.label :title, "タイトル文" 
            = f.text_field :title,placeholder: "投稿タイトルを入力してください。空欄でも構いません。"
        .pref-choice-form
          .pref-choice-form__left
            = f.label :prefecture_id ,"都道府県" 
            = f.select :prefecture_id, @pref_choices, class: "select_form"
        .city-choice-form
          .city-choice-form__left
            = f.label :city_id ,"市区町村"
            = render partial:"cities", locals: {city_choices: @city_choices}
        .time-choice-form
          .time-choice-form__left
            = f.label :hour_id ,"時間帯"
            = f.select :hour_id, @times ,class: "select_form"
        .fish-add-form
          .fish-search
            .fish-search__left
              = label :fish,"魚名検索"
            .fish-search__right
              %input#fish-search-field.fish-search__right__search--form{placeholder: "追加したい魚名を入力してください", :type => "text"}
              #fish-search-result 
          .fish-find
            .fish-find__left
              = label :fish,"追加する魚"
            .fish-find__right
              #fish-find-result
        .size-input-form
          .size-input-form__left
            = f.label :size, "サイズ（㎝）"
            = f.text_field :size ,placeholder: "例）25~30、35"
            = label :size_opt ,"㎝"
          .many-input-form
            = f.label :many, "数（大体で問題ありません）"
            = f.text_field :many, placeholder: "例) 約20"
            = label :many_opt ,"匹"
        .hou-input-form
          .how-input-form__left
            = f.label :how ,"釣り方（詳しく書かなくてOK!）"
            = f.text_field :how, placeholder: "例）ルアー釣り、餌釣り、フカセ釣り、ショアジギング"
        .pictures-input-form
          .pictures-input-form__left
            = f.label :image ,"写真を付ける"
            = f.file_field :image,placeholder: "画像選択"
        = f.submit "投稿する！"
  .main_contents__right
    = render partial: 'new_posts',locals: {posts: @new_posts}
