!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FishingRecords
    = csrf_meta_tags
    = csp_meta_tag
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %header
      .header-container
        .header__title
          .header__title__logos
            = link_to "/",class: "title__logos__title-logo" do
              FishingRecords
          %ul.header__menu
            %li.header__menu__list
              = link_to "#", class: "init__bottom" do
                Menu
              %ul.menu__second
                - if user_signed_in?
                  %li.menu__second__content
                    = link_to destroy_user_session_path,method: :delete,class: "li-link" do
                      ログアウト
                  %li.menu__second__content
                    = link_to edit_user_registration_path,class: "li-link" do
                      アカウント編集
                  %li.menu__second__content
                    = link_to new_post_path,class: "li-link" do
                      釣果投稿
                - else
                  %li.menu__second__content
                    = link_to  new_user_session_path,class: "li-link" do
                      ログイン
                  %li.menu__second__content
                    = link_to new_user_registration_path,class: "li-link" do
                      アカウント登録
                %li.menu__second__content
                  = link_to posts_path,class: "li-link" do
                    釣果検索・一覧
    .container
      = yield